[user]
	name = Qiannan Lyu
	email = qiannan.lyu@hotmail.com
[core]
	editor = vim
	excludesfile = $HOME/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
